---
layout: default
---

<div class="center">

  <!-- Start Fullpage Hero -->
  <figure class="home ampstart-image-fullpage-hero relative mb5">
    <amp-img width="788" height="350" alt="Logo" layout="responsive" src="{{ 'assets/img/CashflowKompass/Titelbild.jpg' | relative_url }}"></amp-img>
<!--    <amp-img height="350" alt="Logo" layout="fixed-height" src="{{ 'assets/img/CashflowKompass/Home_BG_1.jpg' | relative_url }}" ></amp-img>-->
    <figcaption class="absolute top-0 right-0 bottom-0 left-0 flex flex-column justify-center">
      <header class="p3">
        <h1 class="mb3">
          <span class="ampstart-fullpage-hero-heading-text">
            Arbeite nicht nur für dein Geld, <br/>
            lass dein Geld für dich arbeiten!
          <hr>
          </span>
        </h1>
        <p>
          Möchtest du dein Geld für dich arbeiten lassen <br/>
          und früher finanziell frei werden?
        </p>
      </header>
    </figcaption>
  </figure>
  <!-- End Fullpage Hero -->
</div>

<main id="content" role="main">
  <section class="post-content mx3 mt5 mb0">
    <div class="flex justify-center mt5 mb5">
          <a href="https://dominiktischer.typeform.com/to/y22MzM5E">
          <button class="cta-button">
            <h3>Jetzt kostenfrei einen Termin vereinbaren</h3>
            <p>Sprich unverbindlich mit einem unserer Experten</p>
            </button>
          </a>
    </div>

      <figure class="nm mt5 mb5">
      <amp-img width="6000" height="4000" alt="Quotes" layout="responsive" class="m-auto width-100vw max-width-0"
               src="{{ 'assets/img/CashflowKompass/Mission.jpg' | relative_url }}"></amp-img>
    </figure>

    {{ content }}

  </section>

  <div class="full-width p3 mt5 mb5">
      <div class="center">
        <h2 id="die-4-schritte-unseres-coachings">Die 4 Schritte zu deinem finanziellen Konzept</h2>
      </div>
      <div class="flex flex-wrap center">
        <div class="m1 mt3 mb3 grow min-width-1">
          <amp-img src="{{ 'assets/img/CashflowKompass/Ist_Situation_aufnehmen.jpg' | relative_url }}"
                   width="270" height="180" layout="responsive"></amp-img>
          <div class="left-align">
            <h3>Deine IST-Situation aufnehmen</h3>
            <hr>
            Wir erarbeiten mit dir zusammen deine derzeitige finanzielle Situation, in dem wir deine <br>
            IST-Situation übersichtlich und einfach darstellen.
          </div>
        </div>
        <div class="m1 mt3 mb3 grow min-width-1">
          <amp-img src="{{ 'assets/img/CashflowKompass/aktuelle_ Situation_analysieren.jpg' | relative_url }}"
                   width="270" height="180" layout="responsive"></amp-img>
          <div class="left-align">
            <h3>Deine aktuelle Situation analysieren</h3>
            <hr>
            Nach einem wissenschaftlichen Konzept wird deine derzeitige <br>
            IST-Situation mit dir zusammen analytisch untersucht und mit deinen persönlichen Zielen und Wünschen betrachtet.
          </div>
        </div>
        <div class="m1 mt3 mb3 grow min-width-1">
          <amp-img src="{{ 'assets/img/CashflowKompass/massgeschneiderte_Loesungen_konzipieren.jpg' | relative_url }}"
                   width="270" height="180" layout="responsive"></amp-img>
          <div class="left-align">
            <h3>Maßgeschneiderte Lösungen konzipieren</h3>
            <hr>
            Mit Hilfe dieser Analyse erarbeiten wir mit dir zusammen maßgeschneiderte Lösungen für deine
            finanzielle Unabhängigkeit.
          </div>
        </div>
        <div class="m1 mt3 mb3 grow min-width-1">
          <amp-img src="{{ 'assets/img/CashflowKompass/finanzplan_umsetzen.jpg' | relative_url }}"
                   width="270" height="180" layout="responsive"></amp-img>
          <div class="left-align">
            <h3>Finanziellen Fahrplan umsetzen</h3>
            <hr>
            Wir begleiten dich auf deinen Weg, deine Ziele und Wünsche zu erreichen.
          </div>
        </div>
      </div>
    </div>


    <div class="flex justify-center mt5 mb5">
          <a href="https://dominiktischer.typeform.com/to/y22MzM5E">
          <button class="cta-button">
            <h3>Klicke hier,</h3>
            <p>um dich für das Konzept zu bewerben</p>
            </button>
          </a>
    </div>

    <figure class="nm3 mt5 mb5">
      <amp-img width="1400" height="720" alt="Quotes" layout="responsive"
               src="{{ 'assets/img/CashflowKompass/Quotes.png' | relative_url }}"></amp-img>
    </figure>


    <!-- Start Image without Caption -->
    <div class="full-width with-figure mt5 mb5">
      <figure class="ampstart-image-fullpage-hero m0 banner-background absolute left-0 center">
        <amp-img src="{{ 'assets/img/cashflow-kompass.svg' | relative_url }}" width="700" height="700" layout="intrinsic" class="m-auto"></amp-img>
      </figure>

      <div id="anforderungen-unsere-kunden">
      <div class="mt5 mb5">
      <div class="center">
        <h2 class="mt3 mb3">Anforderungen an unsere Interessenten</h2>
        <h4 class="mt3 mb5">Damit wir Dir helfen können, musst du die folgenden Voraussetzungen erfüllen:</h4>
      </div>
      <div class="flex flex-wrap">
        <ul class=" m0 grow min-width-0">
          <li class="mb3">Du musst bereit sein Zeit, Geld und Energie in deine Ziele zu investieren.</li>
          <li class="mb3">Du musst ein Macher und kein Theoretiker sein, das finanzielle Konzept ist eine praktische Anleitung.</li>
          <li class="mb3">Du musst in der Lage sein unsere Analysen und Konzepte umzusetzen.</li>
          <li class="mb3">Du musst ein positives Mindset mitbringen und Veränderungen offen gegenüberstehen.</li>
        </ul>
      </div>

      </div>
      </div>

    </div>
    <!-- End Image without Caption -->


    <h2 id="der-bewerbungsprozess" class="center">Der Bewerbungsprozess</h2>
    <div class="flex flex-wrap center">
      <div class="m1 mt3 mb3 grow min-width-0">
        <div class="icon-with-border m1">
        <amp-img src="{{ 'assets/img/CashflowKompass/assignment_ind-black-24dp.svg' | relative_url }}"
                 width="75" height="75"
        ></amp-img>
        </div>

        <h3>Schritt 1</h3>
        Du bewirbst dich auf dieser Seite unverbindlich für das Konzept indem du ein Bewerbungsformular ausfüllst und
        abschickst.
      </div>
      <div class="m1 mt3 mb3 grow min-width-0">
        <div class="icon-with-border m1">
        <amp-img src="{{ 'assets/img/CashflowKompass/perm_device_information-black-24dp.svg' | relative_url }}"
                 width="75" height="75"
        ></amp-img>
        </div>
        <h3>Schritt 2</h3>
        Wir werden uns Deine Bewerbung genau ansehen und anhand deiner Angaben entscheiden, ob du für das Konzept geeignet bist.
      </div>
      <div class="m1 mt3 mb3 grow min-width-0" id="Kundenbewertungen">
        <div class="icon-with-border m1">
        <amp-img src="{{ 'assets/img/CashflowKompass/how_to_reg-black-24dp.svg' | relative_url }}"
                 width="75" height="75"></amp-img>
        </div>
        <h3>Schritt 3</h3>
        Falls deine Bewerbung zugelassen wird, wird sich einer unserer Mitarbeiter bei dir melden und einen Termin mit dir vereinbaren.
        (Der Termin wird natürlich mit Dir abgestimmt.)
      </div>
    </div>


    <div class="flex justify-center mt5 mb5">
          <a href="https://dominiktischer.typeform.com/to/y22MzM5E">
          <button class="cta-button">
            <h3>Klicke hier für dein Konzept,</h3>
            <p>um deine finanzielle Freiheit zu erreichen</p>
            </button>
          </a>
    </div>

    <div class="full-width p3 mt5 mb0">
      <div class="center">
        <h2 id="unser-standort">Unser Standort</h2>
      </div>
      <div class="flex flex-wrap center">
        <div class="m3 grow width-2">
          <amp-img src="{{ 'assets/img/CashflowKompass/gut_buero_76.jpg' | relative_url }}"
                   width="390" height="260" layout="responsive"></amp-img>
        </div>
        <div class="m3 grow width-2 left-align">
            <h3 style="line-height: 1em">Unser Büro in Nürnberg</h3>
            <hr>
            Gerne dürfen uns Interessenten aus der näheren Umgebung auch in unseren schönen Büro in Nürnberg besuchen.
            Parkplätze findest du direkt vor unserer Türe.

            Wir befinden uns in einem Co-Working Office der Firma
            Adorsys. <br>
            <br>
            Oder du besuchst uns mit der U-Bahn und steigst an der U-Bahn Haltestelle Eberhardshof aus. Von dort aus
            sind es dann noch 3 Minuten zu Fuß. <br>
            <br>
            Du findest uns in der Fürther Straße 244b in 90429 Nürnberg.
        </div>
        <div class="m3 grow width-2">
          <amp-img src="{{ 'assets/img/CashflowKompass/Buero2.jpg' | relative_url }}"
                   width="390" height="260" layout="responsive"></amp-img>

        </div>
        <div class="m3 grow width-2">
          <amp-iframe
                      sandbox="allow-scripts allow-same-origin"
                      src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJG_ID8GVWn0cRofdy7XiWTW4&key=AIzaSyA5jYy1ETiNFePjseIAjsGcl2TYa9-n9kM"
            width="390" height="260" layout="responsive"></amp-iframe>
        </div>
      </div>
    </div>

</main>
