---
layout: default
---

<div class="center">

  <!-- Start Fullpage Hero -->
  <figure class="ampstart-image-fullpage-hero m0 relative mb4">
    <amp-img width="712" height="727" alt="Logo" layout="responsive" src="{{ 'assets/img/Logo.png' | relative_url }}" media="(max-width: 415px)"></amp-img>
    <amp-img height="727" alt="Logo" layout="fixed-height" src="{{ 'assets/img/Logo.png' | relative_url }}" media="(min-width: 416px)"></amp-img>
    <figcaption class="absolute top-0 right-0 bottom-0 left-0 m-auto home-caption">
      <header class="p3">
        <h1 class="ampstart-fullpage-hero-heading mb3">
          <span class="ampstart-fullpage-hero-heading-text">
            Wissenschaft trifft Finanzen
            <br>
            Dein individueller Fahrplan in die
            finanzielle Freiheit. / Mit Standards
            in die finanzielle Freiheit
          </span>
        </h1>

        <div class="flex justify-center">
          <a  href="{{ '/contact' | prepend: site.baseurl }}">
          <button class="cta-button">
            (Jetzt) DEINEN (kostenlosen)
            <br>
            Termin vereinbaren
          </button>
          </a>
        </div>
      </header>
    </figcaption>
  </figure>
  <!-- End Fullpage Hero -->
</div>

<main id="content" role="main">
  <section class="post-content m3 justify">
    {{ content }}
  </section>
</main>
