---
layout: default
---

<div class="center">

  <!-- Start Fullpage Hero -->
  <figure class="home ampstart-image-fullpage-hero relative mb5">
    <amp-img width="788" height="350" alt="Logo" layout="responsive" src="{{ 'assets/img/CashflowKompass/Home_BG_1.jpg' | relative_url }}"></amp-img>
<!--    <amp-img height="350" alt="Logo" layout="fixed-height" src="{{ 'assets/img/CashflowKompass/Home_BG_1.jpg' | relative_url }}" ></amp-img>-->
    <figcaption class="absolute top-0 right-0 bottom-0 left-0 flex flex-column justify-center">
      <header class="p3">
        <h1 class="mb3">
          <span class="ampstart-fullpage-hero-heading-text">
            Arbeite nicht nur für dein Geld – Lass dein Geld für dich arbeiten!
          <hr>
          </span>
        </h1>
        <p>
          Möchtest du dein Geld für dich arbeiten lassen und früher finanziell frei werden?
        </p>
      </header>
    </figcaption>
  </figure>
  <!-- End Fullpage Hero -->

  <div class="flex justify-center">
    <a href="https://dominiktischer.typeform.com/to/y22MzM5E">
      <button class="cta-button">
        <h3>Jetzt Termin vereinbaren</h3>
        <p>Sprich unverbindlich mit einem unserer Experten</p>
      </button>
    </a>
  </div>
</div>

<main id="content" role="main">
  <section class="post-content m5">
    {{ content }}
    <div class="full-width p3 m5">
      <div class="center">
        <h2 id="die-4-schritte-unseres-coachings">Die 4 Schritte unseres Coachings</h2>
      </div>
      <div class="flex flex-wrap center">
        <div class="m1 mt3 mb3 grow min-width-1">
          <amp-img src="{{ 'assets/img/CashflowKompass/Home_BG_1.jpg' | relative_url }}"
                   width="280" height="200"></amp-img>
          <div class="left-align">
            <h3>Deine IST-Situation aufnehmen</h3>
            <hr>
            Nach einem wissenschaftlichen Konzept wird deine derzeitige IST-Situation mit dir zusammen
            analytisch untersucht und mit deinen persönlichen Zielen und Wünschen betrachtet.
          </div>
        </div>
        <div class="m1 mt3 mb3 grow min-width-1">
          <amp-img src="{{ 'assets/img/CashflowKompass/Home_BG_2.jpg' | relative_url }}"
                   width="280" height="200"></amp-img>
          <div class="left-align">
            <h3>Deine aktuelle Situation analysieren</h3>
            <hr>
            Nach einem wissenschaftlichen Konzept wird deine derzeitige IST-Situation mit dir zusammen
            analytisch untersucht und mit deinen persönlichen Zielen und Wünschen betrachtet.
          </div>
        </div>
        <div class="m1 mt3 mb3 grow min-width-1">
          <amp-img src="{{ 'assets/img/CashflowKompass/Home_BG_3.jpg' | relative_url }}"
                   width="280" height="200"></amp-img>
          <div class="left-align">
            <h3>Maßgeschneiderte Lösungen für deine finanzielle Unabhängigkeit konzipieren</h3>
            <hr>
            Mit Hilfe dieser Analyse erarbeiten wir mit dir zusammen maßgeschneiderte Lösungen für deine
            finanzielle Unabhängigkeit.
          </div>
        </div>
        <div class="m1 mt3 mb3 grow min-width-1">
          <amp-img src="{{ 'assets/img/CashflowKompass/Home_BG_4.jpg' | relative_url }}"
                   width="280" height="200"></amp-img>
          <div class="left-align">
            <h3>Finanziellen Fahrplan umsetzen</h3>
            <hr>
            Wir begleiten dich auf deinen Weg, deine Ziele und Wünsche zu erreichen.
          </div>
        </div>
      </div>
    </div>


    <figure class="nm3 mb5 mt5">
      <amp-img width="1400" height="720" alt="Quotes" layout="responsive"
               src="{{ 'assets/img/CashflowKompass/Quotes.png' | relative_url }}"></amp-img>
    </figure>


    <!-- Start Image without Caption -->
    <div class="full-width with-figure m5">
      <figure class="ampstart-image-fullpage-hero m0 mb5 banner-background absolute left-0 center">
        <amp-img src="{{ 'assets/img/cashflow-kompass.svg' | relative_url }}" width="750" height="700" layout="intrinsic" class="m-auto"></amp-img>
      </figure>

      <div >
      <div class="m5">
      <div class="center">
        <h2 id="anforderungen-unsere-kunden" class="mt3 mb3">Anforderungen unsere Kunden</h2>
        <h4 class="mt3 mb5">Damit mein Team und ich Dir helfen können, musst du die folgenden Voraussetzungen erfüllen:</h4>
      </div>
      <div class="flex flex-wrap">
        <ul class=" m0 grow min-width-1">
          <li class="mb3">Du musst bereit sein Zeit, Geld und Energie in deine Ziele zu investieren.</li>
          <li class="mb3">Du musst ein Macher und kein Theoretiker sein, das finanzielle Konzept ist eine praktische Anleitung.</li>
          <li class="mb3">Du musst in der Lage sein unsere Analysen und Konzepte umzusetzen.</li>
          <li class="mb3">Du musst ein positives Mindset mitbringen und Veränderungen offen gegenüberstehen.</li>
        </ul>
      </div>

      </div>
      </div>

    </div>
    <!-- End Image without Caption -->


    <h2 id="der-bewerbungsprozess" class="center">Der Bewerbungsprozess</h2>
    <div class="flex flex-wrap center">
      <div class="m1 mt3 mb3 grow min-width-1">
        <amp-img src="{{ 'assets/img/CashflowKompass/Icon1.png' | relative_url }}"
                 width="150" height="124"></amp-img>
        <h3>Schritt 1</h3>
        Du bewirbst dich auf dieser Seite unverbindlich auf das Coaching indem du ein Bewerbungsformular ausfüllst und
        abschickst.
      </div>
      <div class="m1 mt3 mb3 grow min-width-1">
        <amp-img src="{{ 'assets/img/CashflowKompass/Icon2.png' | relative_url }}"
                 width="150" height="124"></amp-img>
        <h3>Schritt 2</h3>
        Sascha wird sich deine Bewerbung genau ansehen und anhand deiner Angaben entscheiden, ob du zu unserem Coaching
        passt.
      </div>
      <div class="m1 mt3 mb3 grow min-width-1" id="Kundenbewertungen">
        <amp-img src="{{ 'assets/img/CashflowKompass/Icon3.png' | relative_url }}"
                 width="150" height="124"></amp-img>
        <h3>Schritt 3</h3>
        Falls deine Bewerbung zugelassen wird, wird umgehend ein erstes Beratungsgespräch mit dir vereinbart. (Den
        Termin kannst du aussuchen)
      </div>
    </div>


    <figure class="nm3 mb5 mt5">
      <amp-img width="1380" height="750" alt="Quotes" layout="responsive"
               src="{{ 'assets/img/CashflowKompass/Standort.png' | relative_url }}"></amp-img>
    </figure>

  </section>
</main>
